.header {
  padding: var(--spacing-mobile);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 99;

  @media (min-width: 768px) {
    padding: 4rem var(--spacing-desktop) 1rem var(--spacing-desktop);
  }

  & h1 {
    font-size: 1rem;
    line-height: 1;
    
    & a {
      position: fixed;
      color: var(--color-lightgreen);
      padding: 0 !important;
      z-index: 999;
    }
  }

  & nav {
    display: none;
  }

  & ul {
    list-style: none;
    text-align: right;
  }

  & a {
    text-decoration: none;
    color: var(--color-black);
    padding: 0 0.5rem;
    background-color: var(--color-white);
    font-size: 0.875rem;
    font-weight: 800;
    text-transform: uppercase;
  
    @media (min-width: 768px) {
      background-color: transparent;
      padding: 0;
    }
  }
}

.headerIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;

  & svg {
    height: 1.5rem;
  }
}

.headBtn {
  background: var(--color-white) !important;
  border: none;
  cursor: pointer;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  color: var(--color-black) !important;
  padding: 0.1rem 0.4rem !important;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 800;
  text-transform: uppercase;

  @media (min-width: 768px) {
    background: none !important;
    color: var(--color-black) !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.headerToggle {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.burgerMenu {
  margin-bottom: 10rem;
  position: relative;
  font-size: 0.75rem;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  width: 60px;
  height: 60px;
  border: none;
  background-color: var(--color-black);
  transition: background-color .3s, opacity .3s, visibility .3s;

  & :before, & :after {
    background-color: var(--color-lightgreen);
    content: "";
    height: 4px;
    width: 60px;
    left: 0;
    position: absolute;
    top: 28px;
    transition: all .3s;
  }

  & :after {
    bottom: 28px;
  }
}

.active :before {
  transform: rotate(45deg);
  transform-origin: center;
}

.active :after {
  transform: rotate(-45deg);
  transform-origin: center;
}

.burgerMenuLine {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: var(--color-salmon);
  padding-top: 3.5rem;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);

  @media (min-width: 768px) {
    position: static;
    height: auto;
    width: auto;
    background-color: transparent;
    padding-top: 0;
    transform: none;
    display: block;
  }
}

.nav.open {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(0);
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-white);
}

.nav ul {
  padding: 0;
  margin: 0;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.nav li {
  margin: 1.5rem;

  @media (min-width: 768px) {
    margin: 0 1rem;
  }
}
