.header {
    padding: 4rem 3.125rem 1rem 3.125rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

    & nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    & ul {
        list-style: none;
        text-align: right;
    }

    & a {
        text-decoration: none;
        color: var(--color-black);
        font-size: 0.875rem;
        font-weight: 800;
        text-transform: uppercase;
    }
}

.headBtn {
    background: none !important;
    border: none;
    cursor: pointer;
    color: var(--color-black) !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 0.875rem !important;
    font-weight: 800 !important;
    text-transform: uppercase;
}