* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: var(--font-body);
    font-size: 16px;
}

body {
    transition-property: opacity, filter, background;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.page-transition {
    opacity: 0;
    background: var(--color-salmon);
    filter: blur(12px);
}

.pageContent {
    position: relative;
    z-index: 1;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    padding: 0 3.125rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(12, 1fr);
    }
}
