:root {
    --color-black: rgb(0, 0, 0);
    --color-darkgrey: #30313d;
    --color-grey: rgb(187, 187, 187);
    --color-lightgrey: #e6e6e6;
    --color-white: rgb(255, 255, 255);

    --color-salmon: rgb(255, 102, 102);
    --color-lightsalmon: rgb(250, 176, 177);
    --color-blue: rgb(2, 17, 158);
    --color-lightblue: rgb(53, 67, 200);
    --color-green: rgb(128, 163, 59);
    --color-lightgreen: rgb(167, 222, 77);
    --color-orange: rgb(233, 115, 53);
    --color-lightorange: rgb(242, 143, 102);

    --color-background: rgb(251, 239, 240);

    --font-body: 'Made Infinity Regular';
    --font-heading: 'Made Infinity Black';
    --font-subheading: 'Made Infinity Medium';
}
