:root {
    --color-black: rgb(0, 0, 0);
    --color-darkgrey: #30313d;
    --color-grey: rgb(187, 187, 187);
    --color-lightgrey: #e6e6e6;
    --color-white: rgb(255, 255, 255);
    --color-red: rgb(216, 130, 102);
    --color-salmon: rgb(255, 102, 102);

    --font-body: Helvetica, sans-serif;
    --font-heading: 'Anton', sans-serif;
}
