.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 40rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
    z-index: 1;
}

.cartContainer {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.btnSmall {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
}

.btnClose {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}