.cart {
    position: absolute;
    top: 0;
    right: 0;
    width: 40rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: pink;
    z-index: 999;
    overflow-y: auto;
}

.cartContainer {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.btnSmall {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0 !important;
}

.btnClose {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent !important;
    color: var(--color-black) !important;
}