.footer {
    height: fit-content;
    color: var(--color-blue);
    font-weight: 800;
    width: 100%;
    align-items: end;
    padding: 0 var(--spacing-desktop) var(--spacing-desktop) var(--spacing-desktop);
    text-transform: uppercase;
    background-color: var(--color-lightblue);

    & h3 {
        text-transform: uppercase;
    }

    & a {
        text-decoration: none;
        color: var(--color-blue);
    }
}

.info {
    grid-column: 4 / 7;
}

.faq {
    margin-bottom: 1.2rem;
    display: block;
}

.socials {
    grid-column: 1 / 4;
}

.copyright {
    grid-column: 10 / -1;
    justify-self: end;
    font-size: 0.75rem;
    text-transform: uppercase;
}