.filter {
  grid-column: 2 / -1;
  padding: var(--spacing-desktop);
  gap: 2rem;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--color-white);
}

.inputRadio {
  padding: 0.5rem;
}