.filter {
  display: grid;
  gap: var(--spacing-desktop);
  place-items: center;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  color: var(--color-blue);

  & > div {
    width: 100%;
    grid-column: 1 / -1;
    text-align: center;
  }
}

.categoryContainer {
  font-size: 2rem;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

.navContainer{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.categoryButton {
  background: none !important;
	padding: 0 !important;
	color: var(--color-blue) !important;
  font-size: 2rem !important;
  margin: 0 !important;
  text-transform: lowercase !important;

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

.currencyContainer, .languageContainer {
  display: flex;
  align-items: center;
}

.languageContainer {
  gap: 0.5rem;
}

.currencyButton {
  background: none !important;
  padding: 0 !important;
  margin: 0.2rem 0.5rem 0 0.5rem !important;
  color: var(--color-blue) !important;
  font-size: 1rem !important;
  text-transform: uppercase !important;
}

.currencyButton.active {
  opacity: 1;
  font-weight: 900;
  text-decoration: underline;
}
