.club {
  height: 75rem;
  background-image: url("/images/membersclub.png");
  background-size: 80%;
  background-position: bottom left;
  background-repeat: no-repeat;

  & h2 {
    grid-column: 8 / -1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-orange);
    font-size: 3.75rem;
    line-height: 1;
    color: var(--color-blue);
    text-align: center;
    width: 30.5rem;
    height: 30.5rem;
    border-radius: 50%;
    padding: 3rem;
    margin-top: -4rem;
  }

  & div {
    text-align: center;
    grid-column: 10 / -1;
    grid-row: 1;
    justify-self: end;
    margin-top: 32rem;

    & ul {
      list-style: none;
      font-size: 1.5rem;
      line-height: 1.25;
      font-weight: 900;
      color: var(--color-blue);
    }

    & p {
      text-transform: uppercase;
      font-weight: 900;
      font-family: var(--font-heading);
      color: var(--color-blue);
      margin-top: 1.5rem;
    }
  }
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 1rem 1.25rem;
  color: var(--color-lightgreen);
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-size: 1.25rem;
  font-weight: 900;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border: 0;
  background-color: var(--color-orange);
  cursor: pointer;
  text-decoration: none;

  @media (min-width: 768px) {
    margin: 2rem 0 0 0; 
  }
}