.profile {
    padding-top: 20rem;
    min-height: 100dvh;

    & article {
        grid-column: 1 / -1;

        & form {
            max-width: 25rem;
        }
    }
}

.btn {
    margin: 2rem 0;
}
