.carouselContainer {
    position: relative;
    height: 300vh;
}

.stickyContainer {
    position: sticky;
    top: 2rem;
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0 0 0 3.125rem;
    overflow: hidden;
    z-index: 0;
}

.scrollText {
    position: absolute;
    top: 70%;
    right: 3.125rem;
    z-index: -1;
    text-align: right;

    & a {
        margin: 1rem 0;
        color: var(--color-black);
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
    }

    & h2 {
        margin: 0;
        text-transform: uppercase;
    }

    & p {
        margin: 0;
        font-size: 0.75rem;
        font-weight: 300;
    }
}

.motionContainer {
    display: flex;
    gap: 3.125rem;
}

.card {
    position: relative;
    height: 60rem; 
    width: 60rem;
    overflow: hidden;
}

.cardBackground {
    position: absolute;
    inset: 0;
    z-index: 0;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-color: var(--color-lightgrey);
}

.cardContent {
    position: absolute;
    inset: 0;
    z-index: 10;
    display: grid;
    place-content: end;
    padding: 2rem;
    color: var(--color-white);
    text-align: right;

    & h2 {
        text-transform: uppercase;
        margin: 0;
    }
}
