.carouselContainer {
    position: relative;
    height: 300vh;
}

.stickyContainer {
    position: sticky;
    top: 2rem;
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0 0 0 3.125rem;
    overflow: hidden;
    z-index: 0;
}

.motionContainer {
    display: flex;
    gap: 3.125rem;
}

.card {
    position: relative;
    height: 60rem; 
    width: 60rem;
    overflow: hidden;
}

.cardBackground {
    position: absolute;
    inset: 0;
    z-index: 0;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
}

.cardContent {
    position: absolute;
    inset: 0;
    z-index: 10;
    display: grid;
    place-content: end;
    padding: 2rem;
    color: var(--color-white);
    text-align: right;

    & h2 {
        text-transform: uppercase;
        margin: 0;
    }
}
