.container {
  width: 100%;
  margin: 2rem 0;
}

.sideBySide {
  & img {
    grid-column: 6 / -1;
  }

  & .content {
    grid-column: 1 / 5;
    color: var(--color-blue);

    & p {
      font-size: 1.75rem;
      font-weight: 700;
    }

    & h2 {
      font-size: 2rem;
      text-align: center;
    }

    & svg {
      display: block;
      margin: 0 auto;
    }
  }
}

.stacked {
  & img {
    grid-column: 1 / -1;
  }
}

.sideBySide img,
.stacked img {
  max-width: 100%;
  height: auto;
}

.sideBySide p {
  flex: 1;
} 

.tights {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 62rem;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30%;
    background: linear-gradient(to bottom, var(--color-background) 0%, transparent 100%);
    z-index: 1;
  }

  & h2 {
    grid-row: 1;
    margin-top: 5rem;
    font-size: 3.5rem;
    grid-column: 1 / -1;
    justify-self: center;
    color: var(--color-white);
    position: relative;
    z-index: 2;
  }

  & p {
    grid-column: 10 / -1;
    margin-top: 17rem;
    grid-row: 1;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    padding: 1rem;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-family: var(--font-heading);
    font-size: 2.5rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
  }
}
