.ticker {
    max-width: 100%;
    overflow: hidden;
}


.tickerInner {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: tickerAnimation 40s linear infinite;

    & p {
        display: inline-block;
        font-size: 25rem;
        font-weight: 800;
        text-transform: uppercase;
        color: var(--color-black);
    }
}

@keyframes tickerAnimation {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}
